.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "valentine";
    height: 100%;

    .action {
        font-size: 42px;
        color: #7a0811;
    }

    .welcomeback {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "vcute";
        font-size: 28px;
    }

    .googlesignin {
        font-family: "vcute";
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
        margin-top: 20px;
        padding: 15px 30px;
        font-size: 28px;
        border-radius: 48px;
        border: none;
        background-color: white;
        border: 3px solid #7a0811;
        transition: all 0.3s ease;
            &:hover {
                background-color: #7a0811;
                color: white;
            }

        img {
            height: 38px;
            width: 38px;
        }
    }


}