.matchmaking {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .matchdetails {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .horizontal {
            height: 2px;
            width: 150px;
            flex: 1;
            background-color: #7a0811;
        }
    }

    .matchform {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .submitmatch {
            width: 100%;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 48px;
            border: none;
            background-color: white;
            border: 3px solid #7a0811;
            transition: all 0.3s ease;
            &:hover {
                background-color: #7a0811;
                color: white;
            }
        }
    }

}